body {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    background: black;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    color: #9799a1;
}

button{
    max-height:35px;
    color: #9799a1;
    background-color: black;
}

table {
    width: 100%;
    color: #9799a1;
    background: black;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #9799a1;
}

td.proxy{
    text-align: left;
}

th {
    text-align: center;
    background-color: black;
}

.status-0 {
    color: red;
}

.status-1 {
    color: orange;
}

.status-2 {
    color: green;
}

.status-3 {
    color: blue;
}

    /* CSS styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    color: #9799a1;
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Loading 样式 */
.loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #9799a1;
    text-align: center;
    padding-top: 20%;
    z-index: 9999;
}

/* Loading 文本样式 */
.loading-text {
    border-radius: 20px;
    color: #3f3f3e;
    background: #ffffff;
    padding: 35px;
    display: inline-block;
    font-size: 24px;
}